{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  {% if title %}
  <title>Services -{{title}}</title>
  {% else %}
  <title>Services</title>
  {%endif%}
  {% block style %}
  {% bootstrap_css %}
  {% endblock %}
</head>

<body>
  {% include "navbar.html" %}
  {% block content %}{% endblock %}
  {% block scripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  {% bootstrap_javascript %}
  {% endblock %}
  <div class="container-fluid">
    <h3 style>OUR SERVICES</h3>
    <h4>We offer the following services</h4>
    <p>We offer indoor activities like art, modelling, dance classes among others.</p>
    <p>We provide an equipped playground for the children in our Daycare. </p>
    <p>Children will be offered mid-morning snacks, lunch and brunch when they are within our Daycare.</p>
    <p>We provide baby nurseries which will be used for naps by the children</p>
    <p>With our dedication and hard work we hope to provide the best childcare services to our customers at the most
      affordable prices.</p>

  </div>
  <div>
    <h2>OUR DAILY ROUTINE</h2>

    <table class="table">
      <tr>
        <th>Time</th>
        <th>Activity</th>
      </tr>
      <tr>
        <td>7:30-8:30</td>
        <td>Drop off, Breakfast</td>
      </tr>
      <tr>
        <td>9.00-10.00</td>
        <td>Free Play</td>
      </tr>
      <tr>
        <td>10.00-10.45</td>
        <td>Morning Snack</td>
      </tr>
      <tr>
        <td>11.00-11.45</td>
        <td>Educational Progranm</td>
      </tr>
      <tr>
        <td>12.00-13.00</td>
        <td>Lunch</td>
      </tr>
      <tr>
        <td>13.15-14.45</td>
        <td>Rest</td>
      </tr>
      <tr>
        <td>15.00-15.25</td>
        <td>Afternoon Snack</td>
      </tr>
      <tr>
        <td>15.30-16.00</td>
        <td>Outdoor Play</td>
      </tr>
      <tr>
        <td>16.30-17.00</td>
        <td>Circle time story and songs</td>
      </tr>
      <tr>
        <td>17.30-18.00</td>
        <td>Parent Pick Up</td>
      </tr>
    </table>

  </div>
  <h2> OUR GALLER</h2>
  <div class="row">
    {% for image in images %}
    <div class="col-md-3">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{ image.image.url}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Angels-Daycare</h5>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <button><a href="{% url 'enrollment'%}">enroll</a></button>
</div>
</body>

</html>