/* You can add global styles to this file, and also import other style files */
.navbar-nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 900;
}

nav{
  font-weight: 900;
}

.search-sec{
  padding: 2rem;
  width: 100%;
  color: white;
}

.search-slt{
  display: block;
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #55595c;
  background-color: #fff;
  background-image: none;
  border: 1px solid black;
  height: calc(3rem + 2px) !important;
  border-radius:0;
}
.wrn-btn{
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  height: calc(3rem + 2px) !important;
  border-radius:0;
}
.carousel-inner{
  height: 80vh;
}
